@page "/user-support"
@model Cancoly.Pages.Components.Users.SupportModel
@{
    Layout = "_MainLayout";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card bg-plane shadow-none position-relative overflow-hidden mb-4">
        <div class="card-body px-4 py-3">
            <div class="row align-items-center">
                <div class="col-9">
                    <h4 class="fw-semibold mb-8 text-white">Support</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="text-muted text-decoration-none" href="/dashboard">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item text-white" aria-current="page">Support</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="text-center mb-n5">
                        <img src="assets/img/brain.png" class="img-fluid mb-n4">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4 mt-2">
        <div class="card mb-4">
            <form method="post" class="card-body">
                <div class="mb-2">
                    <label>Write a complaint or report </label>
                    <textarea rows="15" cols="15" class="form-control mt-4"></textarea>
                </div>
                <div class="mb-2">
                    <button class="btn btn-primary" type="submit">
                        Submit Complaint
                    </button>
                </div>

            </form>

        </div>

        </div>
</div>
