@page "/account-forgot-password"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_AuthLayout";
}

<style>
    .bg {
        background: url( @("auth/images/auth/bg2.jpg") ) no-repeat center center fixed;
        background-size: cover;
        position: relative;
    }
</style>

<div class="row justify-content-center w-100">
    <div class="col-md-8 col-lg-6 col-xxl-3 auth-card">
        <div class="card mb-0">
            <div class="card-body">
                <strong class="text-nowrap logo-img text-center d-block mb-3 w-100">
                    <img src="@("/logo.png")" style="height:50px;">
                </strong>
                <h5 class="mb-3 mt-2 text-center"> Forgot Password</h5>

                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-2 mt-2" role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" required placeholder="Enter Organization Mail" type="text" class="form-control border border-primary" />
                        <label>
                            <i class="ti ti-user me-2 fs-4 text-primary"></i>
                            <span class="border-start border-primary ps-3">Email</span>
                        </label>
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>


                    <button type="submit" class="btn btn-primary w-100 py-3 mb-4 rounded-2">
                        <i class="ti ti-send me-2 fs-4"></i>
                        Submit
                    </button>
                   

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
