@page "/"
@using CancolyAssist.Components.Layout
@inherits OuterLayout

<section class="about">
    <div class="container">
        <div class="about-wrap">
            <div class="about-text-wrap">
                <div data-w-id="dc6e752d-96cc-cf7c-7600-2b24cd1af86f" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="hero-caption">
                    <img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0ba_Group%207.svg" loading="lazy" alt="" class="h-caption-icon" />
                    <div class="body-03-m h-caption-title">Update 2.0 :  <span class="h-caption-title-2">AI Integration</span></div>
                </div>
                <h1 data-w-id="dc6e752d-96cc-cf7c-7600-2b24cd1af875" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="h1 about-heading"> Expertise and Technology for Financial Success</h1>
                <div data-w-id="dc6e752d-96cc-cf7c-7600-2b24cd1af877" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="body-01 about-subtext">Harnessing expertise and cutting-edge technology to drive unparalleled success in financial management endeavors.</div>
                <div data-w-id="dc6e752d-96cc-cf7c-7600-2b24cd1af879" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="about-btn-wrap">
                    <a href="/contact-us" class="button-1 w-inline-block">
                        <div class="button-1-text">Join us for more</div>
                    </a>
                    <a href="#" class="watch-video w-inline-block w-lightbox">
                        <div class="button-2">
                            <img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0b3_Group%2010.svg" loading="lazy" alt="" class="play-btn-icon" />
                            <div class="button-2-text">Watch Video</div>
                        </div>
                        <script type="application/json" class="w-json">
                            {
                              "items": [
                                {
                                  "url": "https://www.youtube.com/watch?v=GQQo_zcCjdE&t=124s",
                                  "originalUrl": "https://www.youtube.com/watch?v=GQQo_zcCjdE&t=124s",
                                  "width": 940,
                                  "height": 528,
                                  "thumbnailUrl": "https://i.ytimg.com/vi/GQQo_zcCjdE/hqdefault.jpg",
                                  "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FGQQo_zcCjdE%3Fstart%3D124%26feature%3Doembed%26start%3D124&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DGQQo_zcCjdE&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FGQQo_zcCjdE%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
                                  "type": "video"
                                }
                              ],
                              "group": ""
                            }
                        </script>
                    </a>
                </div>
            </div>
            <div class="about-image-wrap">
                <div data-w-id="b1eee2b7-016d-bc5f-a5e6-54e45e9950fe" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="about-image-box"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0f1_image_2%20(1).webp" loading="lazy" sizes="(max-width: 479px) 26vw, (max-width: 767px) 28vw, (max-width: 991px) 30vw, (max-width: 1439px) 31vw, 360px" srcset="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0f1_image_2%2520(1)-p-500.webp 500w, https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0f1_image_2%20(1).webp 704w" alt="" class="about-image" /></div>
                <div data-w-id="300c601d-af8e-575e-35ab-deddbfef9488" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="about-image-box"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0ef_image_1%20(1).webp" loading="lazy" sizes="(max-width: 479px) 26vw, (max-width: 767px) 28vw, (max-width: 991px) 30vw, (max-width: 1439px) 31vw, 360px" srcset="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0ef_image_1%2520(1)-p-500.webp 500w, https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0ef_image_1%20(1).webp 704w" alt="" class="about-image" /></div>
                <div data-w-id="7cbb716c-5b30-c77c-86a5-0d55ba048891" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="about-image-box"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0f0_image_3%20(1).webp" loading="lazy" sizes="(max-width: 479px) 26vw, (max-width: 767px) 28vw, (max-width: 991px) 30vw, (max-width: 1439px) 31vw, 360px" srcset="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0f0_image_3%2520(1)-p-500.webp 500w, https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0f0_image_3%20(1).webp 704w" alt="" class="about-image" /></div>
            </div>
        </div>
    </div>
</section>
<section class="statistics">
    <div class="container">
        <div data-w-id="7d9b4dad-0741-708b-cfb9-2f2a6482a600" class="statistics-wrap">
            <div class="statistics-list-wrap">
                <div class="statistics-list">
                    <h1 class="h2 statistics-list-title">20K+</h1>
                    <h1 class="sub-h2 statistics-list-subtitle">More than customers</h1>
                </div>
                <div class="statistics-list _2">
                    <h1 class="h2 statistics-list-title">17M+</h1>
                    <h1 class="sub-h2 statistics-list-subtitle">More than visitors</h1>
                </div>
                <div class="statistics-list">
                    <h1 class="h2 statistics-list-title">27M+</h1>
                    <h1 class="sub-h2 statistics-list-subtitle">More than views</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-01">
    <div class="container">
        <div class="content-01-wrap">
            <div data-w-id="1f73543c-c94b-c91c-f075-3bb3f671a054" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="c-01-heading-wrap">
                <h1 class="h2 c-01-heading">Transform Finance  with Technology</h1>
                <a href="/pricing" class="button-1 w-inline-block">
                    <div class="button-1-text">Start For Free</div>
                </a>
            </div>
            <div class="c-01-main-wrap">
                <div data-w-id="1fa47f2a-29c9-2c28-b5c3-5f751724a937" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="c-01-image-box">
                    <img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea107_image_4.webp" loading="lazy" sizes="(max-width: 479px) 81vw, (max-width: 767px) 87vw, (max-width: 991px) 83vw, (max-width: 1439px) 51vw, 588.7999877929688px" srcset="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea107_image_4-p-500.webp 500w, https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea107_image_4-p-800.webp 800w, https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea107_image_4-p-1080.webp 1080w, https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea107_image_4.webp 1176w" alt="" class="c-01-image" />
                    <div class="c-01-watch-video">
                        <a href="#" class="watch-video w-inline-block w-lightbox">
                            <div class="button-2">
                                <img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0b3_Group%2010.svg" loading="lazy" alt="" class="play-btn-icon" />
                                <div class="button-2-text">Watch Video</div>
                            </div>
                            <script type="application/json" class="w-json">
                                {
                                  "items": [
                                    {
                                      "url": "https://www.youtube.com/watch?v=GQQo_zcCjdE&t=124s",
                                      "originalUrl": "https://www.youtube.com/watch?v=GQQo_zcCjdE&t=124s",
                                      "width": 940,
                                      "height": 528,
                                      "thumbnailUrl": "https://i.ytimg.com/vi/GQQo_zcCjdE/hqdefault.jpg",
                                      "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FGQQo_zcCjdE%3Fstart%3D124%26feature%3Doembed%26start%3D124&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DGQQo_zcCjdE&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FGQQo_zcCjdE%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
                                      "type": "video"
                                    }
                                  ],
                                  "group": ""
                                }
                            </script>
                        </a>
                    </div>
                </div>
                <div data-w-id="853164fc-acc4-d507-af1b-38217bc94bc7" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="c-01-faq-wrap">
                    <div data-w-id="c00b3f7b-f91d-3409-097e-ee30edeaa03b" class="c-01-faq-item">
                        <div class="c-01-faq-qus-wrap">
                            <div class="c-01-faq-qus">
                                <img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea105_Group%20427319803.svg" loading="lazy" alt="" class="c-01-faq-icon" />
                                <h1 class="sub-h2 question">Enhanced Efficiency</h1>
                            </div>
                            <img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea109_Group%201000015228.svg" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-180deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-180deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-180deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-180deg) skew(0, 0)" alt="" class="c-01-faq-arrow" />
                        </div>
                        <div class="c-01-faq-ans-wrap">
                            <div class="body-03 answer">Our technology-driven solutions streamline operations, automating tasks to save time and resources while enhancing productivity.</div>
                        </div>
                    </div>
                    <div data-w-id="1a98e8db-f5f2-2b1a-8b8b-1349f06e85f2" class="c-01-faq-item">
                        <div class="c-01-faq-qus-wrap">
                            <div class="c-01-faq-qus">
                                <img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea106_Group%201000015232.svg" loading="lazy" alt="" class="c-01-faq-icon" />
                                <h1 class="sub-h2 question">Precision and Accuracy</h1>
                            </div>
                            <img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea109_Group%201000015228.svg" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" alt="" class="c-01-faq-arrow" />
                        </div>
                        <div style="height:0px" class="c-01-faq-ans-wrap">
                            <div class="body-03 answer">Leverage sophisticated algorithms to minimize errors, ensuring the utmost precision in financial data analysis and decision-making processes.</div>
                        </div>
                    </div>
                    <div data-w-id="85a43597-5841-6575-480b-2ca68787a647" class="c-01-faq-item">
                        <div class="c-01-faq-qus-wrap">
                            <div class="c-01-faq-qus">
                                <img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea108_Group%201000015235.svg" loading="lazy" alt="" class="c-01-faq-icon" />
                                <h1 class="sub-h2 question">Scalability Advancement</h1>
                            </div>
                            <img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea109_Group%201000015228.svg" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" alt="" class="c-01-faq-arrow" />
                        </div>
                        <div style="height:0px" class="c-01-faq-ans-wrap">
                            <div class="body-03 answer">With our adaptable technology, effortlessly scale your financial operations to meet growing demands and expand your business with confidence.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="team">
    <div class="container">
        <div class="team-wrap">
            <div class="team-heading-wrap">
                <h1 data-w-id="10243841-7ca4-8c93-cb72-569b39abdd9f" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="h2 team-heading">Team of  experts who change your finance  </h1>
            </div>
            <div class="team-member-wrap">
                <div data-w-id="6bbdd8b1-7287-be65-47ec-2b12ad1e6bc8" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="team-member">
                    <div class="team-member-image-box"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea102_group_1000015397.webp" loading="lazy" sizes="(max-width: 479px) 83vw, (max-width: 767px) 89vw, (max-width: 991px) 39vw, 358.3999938964844px" srcset="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea102_group_1000015397-p-500.webp 500w, https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea102_group_1000015397.webp 720w" alt="" class="team-member-image" /></div>
                    <div class="member-info-wrap">
                        <div class="member-info">
                            <div class="body-02-m member-name">John Quil</div>
                            <div class="body-03 member-post">Head of Sales</div>
                        </div>
                        <div class="member-social-link-wrap"><a href="https://www.linkedin.com/company/webflow-inc-" target="_blank" class="member-social-link w-inline-block"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea100_Group%20427319409.svg" loading="lazy" alt="" class="member-social-icon" /></a><a href="https://twitter.com/webflow" target="_blank" class="member-social-link w-inline-block"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0ff_Group%20427319342.svg" loading="lazy" alt="" class="member-social-icon" /></a></div>
                    </div>
                </div>
                <div data-w-id="befd18cf-71b4-286d-c8a1-f145ee23230e" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="team-member">
                    <div class="team-member-image-box"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0f4_unsplash_3tll_97hnjo.webp" loading="lazy" sizes="(max-width: 479px) 83vw, (max-width: 767px) 89vw, (max-width: 991px) 39vw, 358.3999938964844px" srcset="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0f4_unsplash_3tll_97hnjo-p-500.webp 500w, https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0f4_unsplash_3tll_97hnjo.webp 720w" alt="" class="team-member-image" /></div>
                    <div class="member-info-wrap">
                        <div class="member-info">
                            <div class="body-02-m member-name">John Quil</div>
                            <div class="body-03 member-post">Head of Sales</div>
                        </div>
                        <div class="member-social-link-wrap"><a href="https://www.linkedin.com/company/webflow-inc-" target="_blank" class="member-social-link w-inline-block"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea100_Group%20427319409.svg" loading="lazy" alt="" class="member-social-icon" /></a><a href="https://twitter.com/webflow" target="_blank" class="member-social-link w-inline-block"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0ff_Group%20427319342.svg" loading="lazy" alt="" class="member-social-icon" /></a></div>
                    </div>
                </div>
                <div data-w-id="9fe78a12-8d9c-2e5a-d69d-02c294a132f3" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="team-member">
                    <div class="team-member-image-box"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea103_group_1000015398.webp" loading="lazy" sizes="(max-width: 479px) 83vw, (max-width: 767px) 89vw, (max-width: 991px) 39vw, 358.3999938964844px" srcset="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea103_group_1000015398-p-500.webp 500w, https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea103_group_1000015398.webp 720w" alt="" class="team-member-image" /></div>
                    <div class="member-info-wrap">
                        <div class="member-info">
                            <div class="body-02-m member-name">John Quil</div>
                            <div class="body-03 member-post">Head of Sales</div>
                        </div>
                        <div class="member-social-link-wrap"><a href="https://www.linkedin.com/company/webflow-inc-" target="_blank" class="member-social-link w-inline-block"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea100_Group%20427319409.svg" loading="lazy" alt="" class="member-social-icon" /></a><a href="https://twitter.com/webflow" target="_blank" class="member-social-link w-inline-block"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0ff_Group%20427319342.svg" loading="lazy" alt="" class="member-social-icon" /></a></div>
                    </div>
                </div>
                <div data-w-id="1b77c62d-8ebe-d3d7-e2c2-5c759b76eae2" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="team-member">
                    <div class="team-member-image-box"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea104_group_1000015401.webp" loading="lazy" sizes="(max-width: 479px) 83vw, (max-width: 767px) 89vw, (max-width: 991px) 39vw, 358.3999938964844px" srcset="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea104_group_1000015401-p-500.webp 500w, https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea104_group_1000015401.webp 720w" alt="" class="team-member-image" /></div>
                    <div class="member-info-wrap">
                        <div class="member-info">
                            <div class="body-02-m member-name">John Quil</div>
                            <div class="body-03 member-post">Head of Sales</div>
                        </div>
                        <div class="member-social-link-wrap"><a href="https://www.linkedin.com/company/webflow-inc-" target="_blank" class="member-social-link w-inline-block"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea100_Group%20427319409.svg" loading="lazy" alt="" class="member-social-icon" /></a><a href="https://twitter.com/webflow" target="_blank" class="member-social-link w-inline-block"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0ff_Group%20427319342.svg" loading="lazy" alt="" class="member-social-icon" /></a></div>
                    </div>
                </div>
                <div data-w-id="b44f12c3-8580-8c22-53d3-cb0f6cf7b840" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="team-member">
                    <div class="team-member-image-box"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0fe_unsplash_wnolnjo7ts8.webp" loading="lazy" sizes="(max-width: 479px) 83vw, (max-width: 767px) 89vw, (max-width: 991px) 39vw, 358.3999938964844px" srcset="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0fe_unsplash_wnolnjo7ts8-p-500.webp 500w, https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0fe_unsplash_wnolnjo7ts8.webp 720w" alt="" class="team-member-image" /></div>
                    <div class="member-info-wrap">
                        <div class="member-info">
                            <div class="body-02-m member-name">John Quil</div>
                            <div class="body-03 member-post">Head of Sales</div>
                        </div>
                        <div class="member-social-link-wrap"><a href="https://www.linkedin.com/company/webflow-inc-" target="_blank" class="member-social-link w-inline-block"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea100_Group%20427319409.svg" loading="lazy" alt="" class="member-social-icon" /></a><a href="https://twitter.com/webflow" target="_blank" class="member-social-link w-inline-block"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0ff_Group%20427319342.svg" loading="lazy" alt="" class="member-social-icon" /></a></div>
                    </div>
                </div>
                <div data-w-id="2702e28a-2395-8a4e-63c7-2ca7c38f3db8" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="team-member">
                    <div class="team-member-image-box"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea101_group_1000015400.webp" loading="lazy" sizes="(max-width: 479px) 83vw, (max-width: 767px) 89vw, (max-width: 991px) 39vw, 358.3999938964844px" srcset="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea101_group_1000015400-p-500.webp 500w, https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea101_group_1000015400.webp 722w" alt="" class="team-member-image" /></div>
                    <div class="member-info-wrap">
                        <div class="member-info">
                            <div class="body-02-m member-name">John Quil</div>
                            <div class="body-03 member-post">Head of Sales</div>
                        </div>
                        <div class="member-social-link-wrap"><a href="https://www.linkedin.com/company/webflow-inc-" target="_blank" class="member-social-link w-inline-block"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea100_Group%20427319409.svg" loading="lazy" alt="" class="member-social-icon" /></a><a href="https://twitter.com/webflow" target="_blank" class="member-social-link w-inline-block"><img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0ff_Group%20427319342.svg" loading="lazy" alt="" class="member-social-icon" /></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vacancies">
    <div class="container">
        <div class="vacancies-wrap">
            <div data-w-id="913126d4-8593-55aa-dba1-41c51880ab64" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="vacancies-heading-wrap">
                <h1 class="h2 vacancies-heading">Join our community today. </h1>
                <a href="/career" class="button-1 w-inline-block">
                    <div class="button-1-text">See All Jobs Post</div>
                </a>
            </div>
            <div class="vacancies-main-wrap">
                <div class="vacancies-list-wrap">
                    <div class="w-dyn-list">
                        <div role="list" class="vacancies-collection-list w-dyn-items">
                            <div data-w-id="8a3bc5de-5e6e-0b6e-2431-5fe8ab44d9d5" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" role="listitem" class="w-dyn-item">
                                <a href="/vacancies/ios-developer-winder" class="vacancies-link w-inline-block">
                                    <div class="vacancies-card">
                                        <div class="v-card-text-wrap">
                                            <h1 class="sub-h1 vacancies-post">iOS Developer - Winder</h1>
                                            <div class="v-card-details-wrap">
                                                <div class="body-02 v-location">New York, USA</div>
                                                <div class="body-02 v-time">Full time</div>
                                            </div>
                                        </div>
                                        <div class="button-1">
                                            <div class="button-1-text">Apply Now</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div data-w-id="8a3bc5de-5e6e-0b6e-2431-5fe8ab44d9d5" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" role="listitem" class="w-dyn-item">
                                <a href="/vacancies/product-design-winder" class="vacancies-link w-inline-block">
                                    <div class="vacancies-card">
                                        <div class="v-card-text-wrap">
                                            <h1 class="sub-h1 vacancies-post">Product Design - Winder</h1>
                                            <div class="v-card-details-wrap">
                                                <div class="body-02 v-location">New York, USA</div>
                                                <div class="body-02 v-time">Part time</div>
                                            </div>
                                        </div>
                                        <div class="button-1">
                                            <div class="button-1-text">Apply Now</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div data-w-id="8a3bc5de-5e6e-0b6e-2431-5fe8ab44d9d5" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" role="listitem" class="w-dyn-item">
                                <a href="/vacancies/web-designer-winder" class="vacancies-link w-inline-block">
                                    <div class="vacancies-card">
                                        <div class="v-card-text-wrap">
                                            <h1 class="sub-h1 vacancies-post">Web Designer - Winder</h1>
                                            <div class="v-card-details-wrap">
                                                <div class="body-02 v-location">New York, USA</div>
                                                <div class="body-02 v-time">Full time</div>
                                            </div>
                                        </div>
                                        <div class="button-1">
                                            <div class="button-1-text">Apply Now</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div data-w-id="8a3bc5de-5e6e-0b6e-2431-5fe8ab44d9d5" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" role="listitem" class="w-dyn-item">
                                <a href="/vacancies/sales-manager-winder" class="vacancies-link w-inline-block">
                                    <div class="vacancies-card">
                                        <div class="v-card-text-wrap">
                                            <h1 class="sub-h1 vacancies-post">Sales Manager - Winder</h1>
                                            <div class="v-card-details-wrap">
                                                <div class="body-02 v-location">New York, USA</div>
                                                <div class="body-02 v-time">Part time</div>
                                            </div>
                                        </div>
                                        <div class="button-1">
                                            <div class="button-1-text">Apply Now</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="abc62093-1bbe-542a-0eba-c68617c991d0" style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="subscribe-wrap">
                    <div class="body-04-m blog-caption">BLOG SECTION</div>
                    <h1 class="sub-h1 subscribe-heading">Subscribe to Polka</h1>
                    <div class="body-03 subscribe-subtitle">Lorem ipsum dolor sit amet consect Blandit congue malesuada sagittis lacus eges.</div>
                    <div class="subscribe-form-wrap">
                        <div class="subscribe-form-block w-form">
                            <form id="email-form" name="email-form" data-name="Email Form" method="get" class="subscribe-form" data-wf-page-id="65dc4e0e18107f1438dea087" data-wf-element-id="42a55d1f-b54f-e470-f0de-c66aa918e828"><input class="s-form-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="Enter your email" type="email" id="Email" required="" /><input type="submit" data-wait="Please wait..." class="button-3 subscribe-btn w-button" value="Submit" /></form>
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faq">
    <div class="container">
        <div class="faq-wrap">
            <div class="faq-heading-wrap">
                <h1 data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df1708" class="h2 faq-heading">Frequently asked questions.</h1>
            </div>
            <div class="faq-main-wrap">
                <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="faq-tabs w-tabs">
                    <div data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df170c" class="faq-tabs-menu w-tab-menu">
                        <a data-w-tab="Tab 1" data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df170d" class="faq-tab-link w-inline-block w-tab-link w--current">
                            <div class="faq-tab-text-wrap">
                                <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea11a_Group%20427319321.svg" alt="" class="faq-tab-icon" />
                                <h1 class="sub-h2 faq-tab-title">General Questions</h1>
                            </div>
                            <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea118_Frame.svg" alt="" class="faq-tab-link-arrow" />
                        </a>
                        <a data-w-tab="Tab 2" data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df1713" class="faq-tab-link w-inline-block w-tab-link">
                            <div class="faq-tab-text-wrap">
                                <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea119_Group%20427319320.svg" alt="" class="faq-tab-icon" />
                                <h1 class="sub-h2 faq-tab-title">Support team</h1>
                            </div>
                            <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea118_Frame.svg" alt="" class="faq-tab-link-arrow" />
                        </a>
                        <a data-w-tab="Tab 3" class="faq-tab-link w-inline-block w-tab-link">
                            <div class="faq-tab-text-wrap">
                                <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea10d_Group%20427319322.svg" alt="" class="faq-tab-icon" />
                                <h1 class="sub-h2 faq-tab-title">Miscellaneous</h1>
                            </div>
                            <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea118_Frame.svg" alt="" class="faq-tab-link-arrow" />
                        </a>
                    </div>
                    <div data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df171f" class="faq-tabs-content w-tab-content">
                        <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
                            <div class="faq-list-wrap">
                                <div data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df1722" class="faq-list">
                                    <div class="faq-qus-wrap">
                                        <h1 class="sub-h2 faq-qus"><strong>What is Winder?</strong></h1>
                                        <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea11b_Frame%20(1).svg" alt="" class="faq-arrow" />
                                    </div>
                                    <div class="faq-ans-wrap">
                                        <div class="body-02 faq-ans">Winder is a comprehensive finance management software designed to help individuals and businesses efficiently track and manage their financial activities.</div>
                                    </div>
                                </div>
                                <div data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df172a" class="faq-list">
                                    <div class="faq-qus-wrap">
                                        <h1 class="sub-h2 faq-qus"><strong>How can Winder help me with budgeting?</strong></h1>
                                        <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea11b_Frame%20(1).svg" alt="" class="faq-arrow" />
                                    </div>
                                    <div class="faq-ans-wrap">
                                        <div class="body-02 faq-ans">Winder allows you to create customized budgets based on your income and expenses. You can set spending limits for different categories, and track your expenses in real-time. </div>
                                    </div>
                                </div>
                                <div data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df1732" class="faq-list">
                                    <div class="faq-qus-wrap">
                                        <h1 class="sub-h2 faq-qus"><strong>Is Winder suitable for small businesses?</strong></h1>
                                        <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea11b_Frame%20(1).svg" alt="" class="faq-arrow" />
                                    </div>
                                    <div class="faq-ans-wrap">
                                        <div class="body-02 faq-ans">Yes, Winder is an ideal solution for small businesses as it offers features tailored to their needs. It allows you to manage invoices, track expenses, and monitor cash flow. </div>
                                    </div>
                                </div>
                                <div data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df173a" class="faq-list">
                                    <div class="faq-qus-wrap">
                                        <h1 class="sub-h2 faq-qus"><strong>Can I access Winder on multiple devices?</strong></h1>
                                        <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea11b_Frame%20(1).svg" alt="" class="faq-arrow" />
                                    </div>
                                    <div class="faq-ans-wrap">
                                        <div class="body-02 faq-ans">Yes, Winder is accessible on multiple devices including desktop computers, and smartphones. This allows you to manage your finances conveniently, whether you&#x27;re at home, or in the office.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-w-tab="Tab 2" class="w-tab-pane">
                            <div class="faq-list-wrap">
                                <div data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df1744" class="faq-list">
                                    <div class="faq-qus-wrap">
                                        <h1 class="sub-h2 faq-qus">Why I choose Payflow app?</h1>
                                        <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea11b_Frame%20(1).svg" alt="" class="faq-arrow" />
                                    </div>
                                    <div class="faq-ans-wrap">
                                        <div class="body-02 faq-ans">Your need a sales machine not a website that’s where Booster comes in. A clean desinged webflow template. Make your own identity with Booster.</div>
                                    </div>
                                </div>
                                <div data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df174c" class="faq-list">
                                    <div class="faq-qus-wrap">
                                        <h1 class="sub-h2 faq-qus">Do you offer discount for non-profits?</h1>
                                        <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea11b_Frame%20(1).svg" alt="" class="faq-arrow" />
                                    </div>
                                    <div class="faq-ans-wrap">
                                        <div class="body-02 faq-ans">Your need a sales machine not a website that’s where Booster comes in. A clean desinged webflow template. Make your own identity with Booster.</div>
                                    </div>
                                </div>
                                <div data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df1754" class="faq-list">
                                    <div class="faq-qus-wrap">
                                        <h1 class="sub-h2 faq-qus">Which industry are you best for ?</h1>
                                        <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea11b_Frame%20(1).svg" alt="" class="faq-arrow" />
                                    </div>
                                    <div class="faq-ans-wrap">
                                        <div class="body-02 faq-ans">Your need a sales machine not a website that’s where Booster comes in. A clean desinged webflow template. Make your own identity with Booster.</div>
                                    </div>
                                </div>
                                <div data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df175c" class="faq-list">
                                    <div class="faq-qus-wrap">
                                        <h1 class="sub-h2 faq-qus">How our support team works with clients ?</h1>
                                        <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea11b_Frame%20(1).svg" alt="" class="faq-arrow" />
                                    </div>
                                    <div class="faq-ans-wrap">
                                        <div class="body-02 faq-ans">Your need a sales machine not a website that’s where Booster comes in. A clean desinged webflow template. Make your own identity with Booster.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-w-tab="Tab 3" class="w-tab-pane">
                            <div class="faq-list-wrap">
                                <div data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df1766" class="faq-list">
                                    <div class="faq-qus-wrap">
                                        <h1 class="sub-h2 faq-qus">Why I choose Payflow app?</h1>
                                        <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea11b_Frame%20(1).svg" alt="" class="faq-arrow" />
                                    </div>
                                    <div class="faq-ans-wrap">
                                        <div class="body-02 faq-ans">Your need a sales machine not a website that’s where Booster comes in. A clean desinged webflow template. Make your own identity with Booster.</div>
                                    </div>
                                </div>
                                <div data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df176e" class="faq-list">
                                    <div class="faq-qus-wrap">
                                        <h1 class="sub-h2 faq-qus">Do you offer discount for non-profits?</h1>
                                        <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea11b_Frame%20(1).svg" alt="" class="faq-arrow" />
                                    </div>
                                    <div class="faq-ans-wrap">
                                        <div class="body-02 faq-ans">Your need a sales machine not a website that’s where Booster comes in. A clean desinged webflow template. Make your own identity with Booster.</div>
                                    </div>
                                </div>
                                <div data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df1776" class="faq-list">
                                    <div class="faq-qus-wrap">
                                        <h1 class="sub-h2 faq-qus">Which industry are you best for ?</h1>
                                        <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea11b_Frame%20(1).svg" alt="" class="faq-arrow" />
                                    </div>
                                    <div class="faq-ans-wrap">
                                        <div class="body-02 faq-ans">Your need a sales machine not a website that’s where Booster comes in. A clean desinged webflow template. Make your own identity with Booster.</div>
                                    </div>
                                </div>
                                <div data-w-id="8888afbe-aa59-3b5c-4dd2-baec47df177e" class="faq-list">
                                    <div class="faq-qus-wrap">
                                        <h1 class="sub-h2 faq-qus">How our support team works with clients ?</h1>
                                        <img loading="lazy" src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea11b_Frame%20(1).svg" alt="" class="faq-arrow" />
                                    </div>
                                    <div class="faq-ans-wrap">
                                        <div class="body-02 faq-ans">Your need a sales machine not a website that’s where Booster comes in. A clean desinged webflow template. Make your own identity with Booster.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cta">
    <div class="container">
        <div data-w-id="272c9f86-7b0c-b25f-5f7e-0405d0461f86" class="cta-wrap">
            <div class="cta-text-wrap">
                <h1 class="h1 cta-heading">Master your finances with our finance management </h1>
                <div class="body-01 cta-subtext">Effortlessly manage your finances and take control of your financial future with our intuitive software.</div>
            </div>
            <div class="cta-btn-wrap">
                <a href="/contact-us" class="button-1 w-inline-block">
                    <div class="button-1-text">Start For Free</div>
                </a>
                <a href="#" class="watch-video w-inline-block w-lightbox">
                    <div class="button-2">
                        <img src="https://cdn.prod.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0b3_Group%2010.svg" loading="lazy" alt="" class="play-btn-icon" />
                        <div class="button-2-text">Watch Video</div>
                    </div>
                    <script type="application/json" class="w-json">
                        {
                          "items": [
                            {
                              "url": "https://www.youtube.com/watch?v=GQQo_zcCjdE&t=124s",
                              "originalUrl": "https://www.youtube.com/watch?v=GQQo_zcCjdE&t=124s",
                              "width": 940,
                              "height": 528,
                              "thumbnailUrl": "https://i.ytimg.com/vi/GQQo_zcCjdE/hqdefault.jpg",
                              "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FGQQo_zcCjdE%3Fstart%3D124%26feature%3Doembed%26start%3D124&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DGQQo_zcCjdE&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FGQQo_zcCjdE%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
                              "type": "video"
                            }
                          ],
                          "group": ""
                        }
                    </script>
                </a>
            </div>
        </div>
    </div>
</section>
