@page "/about"
@model Cancoly.Pages.AboutPageModel
@{
}

<section class="about__feature">
    <div class="about__fsp2"><img src="landing/assets/images/circle-sp.png" alt="img"></div>
    <div class="about__fsp3"><img src="landing/assets/images/wave-sp.png" alt="img"></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="feature__title">
                    <h2 data-aos="fade-up-left" data-aos-delay="200" data-aos-duration="1200" class="aos-init aos-animate">
                        Who Are
                        <span>We?</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="about__feature__wrap">
                    <div class="about__feature__wrap__single">
                        <div class="about__feature__wrap__single__title">
                            <h4>Global <br>Acceptance</h4>
                        </div>
                        <div class="about__feature__wrap__single__content">
                            <p>
                                Cancloy is more than a company it's a movement to redefine possibilities and inspire transformation. Join us as we create a legacy of innovation, empowerment, and excellence for Africa and Nigeria.
                            </p>
                            <ul>
                                <li><span><img src="landing/assets/images/about/star.png" alt="img"></span>Improving Digital Infrastructure</li>
                                <li>
                                    <span><img src="landing/assets/images/about/star.png" alt="img"></span>Supporting Sustainable Development
                                </li>
                                <li><span><img src="landing/assets/images/about/star.png" alt="img"></span>Internationally Accepted</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about__feature__wrap__single">
                        <div class="about__feature__wrap__single__title">
                            <h4>24/7 support <br>team</h4>
                        </div>
                        <div class="about__feature__wrap__single__content">
                            <p>
                                At Cancoly, our dedicated support team is always ready to assist you. With a focus on providing exceptional customer service, our team works around the clock to resolve your queries and ensure a smooth experience.

                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
