@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="hero" class="section_hero">
    <div class="padding-section-medium hero-section-padding">
        <div class="container-large">
            <div class="hero_wrapper">
                <div data-w-id="afaf5a46-0ff0-4893-cb1e-0116463c8960" style="" class="hero_partners-wrapper">
                    <div class="hero_partners-icon-wrapper">
                        <img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760501b7623048bcd52ee49_M4O8Y51g4GjO9GUL8S1kVB0MCA%201.svg" loading="lazy" alt="User portrait icon" class="hero_partners-icon" />
                        <img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760501b5a477be84cfa2a8a_RBvKNRGxQJajdfiNf7eDMe9k%201.svg" loading="lazy" alt="User portrait icon" class="hero_partners-icon is-margin-left" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760501a6d4fecff9cf04bf9_fUcT05rusYpOcWM727Hnr0V7w0%201.svg" loading="lazy" alt="User portrait icon" class="hero_partners-icon is-margin-left" />
                    </div>
                    <p class="hero_partners-text cc-caption">Trusted by over +50 <br />professional in the health sector</p>
                </div>
                <h1 data-w-id="2b9fc99f-1f8a-7d94-eaf1-7312c1b3d683" style="" class="hero_main-heading cc-heading-h1">
                    Automate Brain Tumor Diagnosis & Classification with intelligent AI solution
                </h1>
                <p data-w-id="25db3032-b215-53da-bb4a-042752d59ffb" style="" class="hero_main-paragraph cc-body-small">Seamlessly integrate advanced technology into radiology centers</p>
                <div data-w-id="7a85fbc3-ada6-4ee2-1d49-6b1be6e40ca6" style="" class="button-group">
                    <a data-w-id="5f36ac0a-a73f-7030-9e9e-bcdff54514f8" href="/" aria-current="page" class="cc-cta-link is-full-width w-inline-block w--current">
                        <div class="cc-cta-text">Explore Product</div>
                        <div class="cta-button-wrap">
                            <div style="" class="cta-button-wrap-icon w-embed"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760526c75d7a177d4a94b80_Vector%20(1).svg" /></div>
                            <div style="" class="cta-button-wrap-icon is-absolute w-embed"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760526c75d7a177d4a94b80_Vector%20(1).svg" /></div>
                        </div>
                    </a>
                    <a data-w-id="50f31cc1-2e5f-3553-edd6-227647beca52" href="/" aria-current="page" class="cc-cta-link is-secondary w-inline-block w--current">
                        <div class="cc-cta-text is-secondary">Onboard Radiology Center</div>
                        <div class="cta-button-wrap is-secondary">
                            <div style="-webkit-transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="cta-button-wrap-icon w-embed"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760526c75d7a177d4a94b80_Vector%20(1).svg" /></div>
                            <div style="-webkit-transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="cta-button-wrap-icon is-absolute w-embed"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760526c75d7a177d4a94b80_Vector%20(1).svg" /></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="hero_logos-wrapper">
        <div class="hero_logos-inner">
            <div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="hero_logos-row">
                <img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760501b2220507b2f9be432_Fictional%20Company%20Logo%2005.webp" loading="lazy" alt="Globalbank Logo" class="hero_logo" />
                <img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760501927d69b7ffd4b0d3a_Fictional%20Company%20Logo%2004.webp" loading="lazy" alt="Catalog Logo" class="hero_logo" />
                <img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/67605019388a8321634ed29e_Fictional%20Company%20Logo%2006.webp" loading="lazy" alt="Luminous Logo" class="hero_logo" />
                <img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/67605018b77952ec2268147f_Fictional%20Company%20Logo%2003.webp" loading="lazy" alt="Quotient Logo" class="hero_logo" />
                <img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/67605018788496e4fdcf58f2_Fictional%20Company%20Logo%2008.webp" loading="lazy" alt="Galileo Logo" class="hero_logo" />
                <img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760501815736567bb0a5260_Fictional%20Company%20Logo%2007.webp" loading="lazy" alt="Logo for Epicurious" class="hero_logo" />
                <img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760501b2220507b2f9be432_Fictional%20Company%20Logo%2005.webp" loading="lazy" alt="Globalbank Logo" class="hero_logo" />
                <img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760501927d69b7ffd4b0d3a_Fictional%20Company%20Logo%2004.webp" loading="lazy" alt="Catalog Logo" class="hero_logo" />
                <img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760501b2220507b2f9be432_Fictional%20Company%20Logo%2005.webp" loading="lazy" alt="Globalbank Logo" class="hero_logo" />
                <img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760501927d69b7ffd4b0d3a_Fictional%20Company%20Logo%2004.webp" loading="lazy" alt="Catalog Logo" class="hero_logo" />
            </div>
        </div>
        <div class="hero_logos-wrapper-overlay"></div>
    </div>
</section>
<section id="features" class="section_features">
    <div class="padding-global">
        <div class="container-large">
            <div class="features_wrapper">
                <div class="cc-section-tag">
                    <div class="cc-section-tag-icon cc-bg-primary"></div>
                    <div class="cc-section-tag-text cc-caption">Features</div>
                </div>
                <h2 class="features_main-heading cc-heading-h4">Explore features that empower your business</h2>
                <p class="features_main-paragraph cc-body-small">Providing round-the-clock support and seamless integration with your favorite tools, our chatbot adapts to meet the needs of businesses around the globe</p>
                <div class="features_grid">
                    <div data-w-id="b19b143a-68f7-873f-6967-ea23c735a737" style="" class="features-grid-col">
                        <div class="features_col-image-wrapper"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6763da4489b09087ef20c54f_mapbase.webp" loading="lazy" sizes="(max-width: 867px) 100vw, 867px" srcset="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6763da4489b09087ef20c54f_mapbase-p-500.png 500w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/6763da4489b09087ef20c54f_mapbase.webp 867w" alt="" class="features_col-image is-full-width" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6763d9eda1366a6bdae6ddf6_bahrain.webp" loading="lazy" alt="" class="features_country-flag is-flag-one hide-mobile-landscape" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6763d9ed4aba48e2637a6bde_qatar.webp" loading="lazy" alt="" class="features_country-flag is-flag-six" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6763d9edd247f84fdde582d5_south%20africa.webp" loading="lazy" alt="" class="features_country-flag is-flag-seven" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6763d9ed5144b4e0afeb0840_italy.webp" loading="lazy" alt="" class="features_country-flag is-flag-two" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6763d9edfd910fcef489a9fe_trinidad%20and%20tobago.webp" loading="lazy" alt="" class="features_country-flag is-flag-four" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6763d9edda82193cbff0a01f_japan.webp" loading="lazy" alt="" class="features_country-flag is-flag-three hide-mobile-portrait" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6763d9ed2d5790b99e480a56_jamaica.webp" loading="lazy" alt="" class="features_country-flag is-flag-eight" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6763d9edc5a3d12101c35128_germany.webp" loading="lazy" alt="" class="features_country-flag is-flag-five" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6763d9ed6c9bf69e5eaeae52_nigeria.webp" loading="lazy" alt="" class="features_country-flag is-flag-nine" /></div>
                        <div class="features_col-content-wrapper">
                            <h3 class="features_col-content-heading cc-subtitle">Global Reach</h3>
                            <p class="features_col-content-text cc-body-small">Break language barriers, enhance customer experiences and unlock global opportunities with intelligent, real-time translations.</p>
                        </div>
                    </div>
                    <div data-w-id="370e3ef2-a037-a9ff-b460-ec5135c671ee" style="" class="features-grid-col">
                        <div class="features_col-image-wrapper"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760501841856ef4b556ab99_Frame%201618872252.webp" loading="lazy" sizes="(max-width: 795px) 100vw, 795px" srcset="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760501841856ef4b556ab99_Frame%201618872252-p-500.webp 500w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760501841856ef4b556ab99_Frame%201618872252.webp 795w" alt="" class="features_col-image" /></div>
                        <div class="features_col-content-wrapper">
                            <h3 class="features_col-content-heading cc-subtitle">24/7 Availability</h3>
                            <p class="features_col-content-text cc-body-small">With 24/7 availability, our chatbot works tirelessly to engage your customers and provide instant support, day or night</p>
                        </div>
                    </div>
                    <div data-w-id="beea810a-0c5d-083b-b9c9-b2d271dd6986" style="" class="features-grid-col">
                        <div class="features_col-image-wrapper is-carousel-container">
                            <div class="features_carousel-container">
                                <div class="features_logo-container"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769368f102f64bfa81c0602_Layers.svg" loading="lazy" alt="" class="features_logo" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769368fc1505d299ffd090f_Luminous.svg" loading="lazy" alt="" class="features_logo move-down" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769368f004e8bb39146c16b_Sisyphus.svg" loading="lazy" alt="" class="features_logo" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769368f314e3067451fb8c3_Catalog.svg" loading="lazy" alt="" class="features_logo move-down" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769368f1de00d4e0d7297a1_Spherule.svg" loading="lazy" alt="" class="features_logo" /></div>
                                <div class="features_logo-container second-row"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769368f102f64bfa81c0602_Layers.svg" loading="lazy" alt="" class="features_logo move-down" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769368fc1505d299ffd090f_Luminous.svg" loading="lazy" alt="" class="features_logo" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769368f004e8bb39146c16b_Sisyphus.svg" loading="lazy" alt="" class="features_logo move-down" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769368f314e3067451fb8c3_Catalog.svg" loading="lazy" alt="" class="features_logo" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769368f1de00d4e0d7297a1_Spherule.svg" loading="lazy" alt="" class="features_logo move-down" /></div>
                                <div class="features_logo-container"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769368f102f64bfa81c0602_Layers.svg" loading="lazy" alt="" class="features_logo" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769368fc1505d299ffd090f_Luminous.svg" loading="lazy" alt="" class="features_logo move-down" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769368f004e8bb39146c16b_Sisyphus.svg" loading="lazy" alt="" class="features_logo" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769368f314e3067451fb8c3_Catalog.svg" loading="lazy" alt="" class="features_logo move-down" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769368f1de00d4e0d7297a1_Spherule.svg" loading="lazy" alt="" class="features_logo" /></div>
                            </div>
                            <div class="features_opposite-carousel-wrapper">
                                <div class="features_opposite-logo-container"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769397de300fe3c5ccced08_Alt%2BShift.svg" loading="lazy" alt="" class="features_logo" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769397cb30e84ee2115f2eb_Command%2BR.svg" loading="lazy" alt="" class="features_logo move-down" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769397c60f10cc9ca0d9e31_Catalog%20(1).svg" loading="lazy" alt="" class="features_logo" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769397cc1505d299fffbe15_Lightbox.svg" loading="lazy" alt="" class="features_logo move-down" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769397cf280652b74e52cc0_Segment.svg" loading="lazy" alt="" class="features_logo" /></div>
                                <div class="features_opposite-logo-container"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769397de300fe3c5ccced08_Alt%2BShift.svg" loading="lazy" alt="" class="features_logo move-down" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769397cb30e84ee2115f2eb_Command%2BR.svg" loading="lazy" alt="" class="features_logo" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769397c60f10cc9ca0d9e31_Catalog%20(1).svg" loading="lazy" alt="" class="features_logo move-down" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769397cc1505d299fffbe15_Lightbox.svg" loading="lazy" alt="" class="features_logo" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769397cf280652b74e52cc0_Segment.svg" loading="lazy" alt="" class="features_logo move-down" /></div>
                                <div class="features_opposite-logo-container"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769397de300fe3c5ccced08_Alt%2BShift.svg" loading="lazy" alt="" class="features_logo" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769397cb30e84ee2115f2eb_Command%2BR.svg" loading="lazy" alt="" class="features_logo move-down" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769397c60f10cc9ca0d9e31_Catalog%20(1).svg" loading="lazy" alt="" class="features_logo" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769397cc1505d299fffbe15_Lightbox.svg" loading="lazy" alt="" class="features_logo move-down" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6769397cf280652b74e52cc0_Segment.svg" loading="lazy" alt="" class="features_logo" /></div>
                            </div>
                        </div>
                        <div class="features_col-content-wrapper">
                            <h3 class="features_col-content-heading cc-subtitle">Universal Integration</h3>
                            <p class="features_col-content-text cc-body-small">Connect with the tools you already use. From Shopify to CRM platforms and WordPress, our chatbot integrates effortlessly with your systems.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="works" class="section_works">
    <div class="padding-global">
        <div class="container-large">
            <div class="features_wrapper">
                <div class="cc-section-tag">
                    <div class="cc-section-tag-icon cc-bg-primary"></div>
                    <div class="cc-section-tag-text cc-caption">How it works</div>
                </div>
                <h2 class="features_main-heading cc-heading-h4">Simple steps to smarter customer engagement</h2>
                <p class="features_main-paragraph cc-body-small">Discover how effortlessly you can integrate, customize, and optimize your AI chatbot to transform customer engagement</p>
                <div class="works_grid">
                    <div data-w-id="eabb3987-95bd-2c13-1249-0956e1896152" style="" class="works_grid-col col-one">
                        <div class="works_grid-content-wrapper">
                            <p class="works_grid-content-number cc-heading-h1">1</p>
                            <div class="works_grid-content-header">
                                <h3 class="works_grid-content-heading cc-subtitle">Seamless integration across platforms</h3>
                                <p class="works_grid-content-paragraph cc-body-small">From websites and e-commerce stores to CRMs and social media, our chatbot integrates effortlessly, ensuring your tools work harmoniously together.</p>
                            </div>
                        </div>
                        <div class="works_grid-image-wrapper"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/676050188717ae4699b90dae_Illustration.webp" loading="lazy" sizes="(max-width: 1236px) 100vw, 1236px" srcset="https://cdn.prod.website-files.com/6760415a4c2b104632244403/676050188717ae4699b90dae_Illustration-p-500.png 500w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/676050188717ae4699b90dae_Illustration-p-800.png 800w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/676050188717ae4699b90dae_Illustration-p-1080.png 1080w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/676050188717ae4699b90dae_Illustration.webp 1236w" alt="" class="works_grid-image" /></div>
                    </div>
                    <div data-w-id="b76cbf97-e6d5-17c1-e272-ad52ee03047b" style="" class="works_grid-col col-three col-two">
                        <div class="works_grid-content-wrapper">
                            <p class="works_grid-content-number cc-heading-h1">2</p>
                            <div class="works_grid-content-header">
                                <h3 class="works_grid-content-heading cc-subtitle">Tailor to Your Brand, Your Way</h3>
                                <p class="works_grid-content-paragraph cc-body-small">Customize the chatbot to match your brand’s personality and tone. Choose from pre-designed templates, tweak responses, and add branding elements to create a solution that feels uniquely yours.</p>
                            </div>
                        </div>
                        <div class="works_grid-image-wrapper is-secondary padding-left"></div>
                    </div>
                    <div data-w-id="1d430783-396b-1f96-595a-fc22515f1739" style="" class="works_grid-col col-three">
                        <div class="works_grid-content-wrapper">
                            <p class="works_grid-content-number cc-heading-h1">3</p>
                            <div class="works_grid-content-header">
                                <h3 class="works_grid-content-heading cc-subtitle">Analyze, Adapt and Grow</h3>
                                <p class="works_grid-content-paragraph cc-body-small">Leverage an intuitive analytics dashboard to track performance and gain actionable insights. Monitor customer interactions, improve response quality, and refine engagement strategies with real-time data at your fingertips.</p>
                            </div>
                        </div>
                        <div class="works_grid-image-wrapper is-secondary is-absolute"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/67bd817b75e0ee1869be401f_Bento%20Box%20BG.avif" loading="lazy" alt="" class="works_grid-image is-h-full" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="benefits" class="section_benefits">
    <div class="padding-global benefits-padding-global">
        <div class="container-large">
            <div class="benefits_wrapper features_wrapper">
                <div class="benefits_top-container">
                    <div class="benefits_left-content-wrapper">
                        <div class="cc-section-tag benefits_section-tag">
                            <div class="cc-section-tag-icon cc-bg-primary"></div>
                            <div class="cc-section-tag-text cc-caption">Benefits</div>
                        </div>
                        <h2 class="features_main-heading cc-heading-h4">Tailored benefits for every need</h2>
                    </div>
                    <p class="features_main-paragraph cc-body-small benefits_paragraph">From improving customer support to automating operations, our AI chatbot delivers real-world impact across diverse sectors and use cases.</p>
                </div>
                <div data-w-id="cf4da100-8259-935a-204a-444027d48a16" style="" class="benefits_tabs-wrapper">
                    <div data-current="Tab 1" data-easing="ease-out-quart" data-duration-in="500" data-duration-out="500" class="benefits_tabs w-tabs">
                        <div class="benefits_tabs-menu w-tab-menu">
                            <a data-w-tab="Tab 1" class="benefits_tabs-link w-inline-block w-tab-link w--current">
                                <h3 class="benefits_tabs-link-heading cc-title">Elevate customer support across industries</h3>
                                <p class="benefits_tabs-link-text cc-body-small">Deliver instant, accurate assistance in e-commerce, SaaS, and logistics. Reduce response times, increase customer satisfaction, and build trust with a chatbot that’s always ready to help.</p>
                                <div aria-hidden="true" class="benefits_tabs-link-line"></div>
                            </a>
                            <a data-w-tab="Tab 2" class="benefits_tabs-link w-inline-block w-tab-link">
                                <h3 class="benefits_tabs-link-heading cc-title">Break language barriers with multilingual AI</h3>
                                <p class="benefits_tabs-link-text cc-body-small">Expand your global reach with a chatbot that speaks your customers&#x27; languages. Real-time translation makes your business accessible to audiences worldwide.</p>
                                <div aria-hidden="true" class="benefits_tabs-link-line"></div>
                            </a>
                            <a data-w-tab="Tab 3" class="benefits_tabs-link w-inline-block w-tab-link">
                                <h3 class="benefits_tabs-link-heading cc-title">Adaptable to every business model</h3>
                                <p class="benefits_tabs-link-text cc-body-small">Whether you&#x27;re a startup, a service provider, or an enterprise, our AI chatbot adapts seamlessly to fit your workflows. Tailored solutions ensure it meets your unique needs.</p>
                                <div aria-hidden="true" class="benefits_tabs-link-line"></div>
                            </a>
                        </div>
                        <div class="benefits_tabs-content w-tab-content">
                            <div data-w-tab="Tab 1" class="benefits_tab-panel w-tab-pane w--tab-active">
                                <div class="benefits_tab-panel-image-wrapper"><img sizes="(max-width: 991px) 100vw, 835.9921875px" srcset="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761c06d255622de6a39f4a2_Image-p-500.webp 500w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761c06d255622de6a39f4a2_Image.webp 836w" alt="A group of people chatting and laughing " src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761c06d255622de6a39f4a2_Image.webp" loading="lazy" class="benefits_tab-panel-image" /></div>
                            </div>
                            <div data-w-tab="Tab 2" class="benefits_tab-panel w-tab-pane">
                                <div class="benefits_tab-panel-image-wrapper"><img sizes="100vw" srcset="https://cdn.prod.website-files.com/6760415a4c2b104632244403/676213517fb6ec5430178831_tabs-image-1-p-500.webp 500w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/676213517fb6ec5430178831_tabs-image-1-p-800.webp 800w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/676213517fb6ec5430178831_tabs-image-1-p-1080.webp 1080w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/676213517fb6ec5430178831_tabs-image-1.webp 1280w" alt="" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/676213517fb6ec5430178831_tabs-image-1.webp" loading="lazy" class="benefits_tab-panel-image" /></div>
                            </div>
                            <div data-w-tab="Tab 3" class="benefits_tab-panel w-tab-pane">
                                <div class="benefits_tab-panel-image-wrapper"><img sizes="100vw" srcset="https://cdn.prod.website-files.com/6760415a4c2b104632244403/67621351e2bb68861ce39770_tabs-image-2-p-500.webp 500w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/67621351e2bb68861ce39770_tabs-image-2-p-800.webp 800w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/67621351e2bb68861ce39770_tabs-image-2-p-1080.webp 1080w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/67621351e2bb68861ce39770_tabs-image-2.webp 1280w" alt="" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/67621351e2bb68861ce39770_tabs-image-2.webp" loading="lazy" class="benefits_tab-panel-image" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pricing" class="section_pricing">
    <div class="padding-global">
        <div class="container-large">
            <div class="features_wrapper">
                <div class="cc-section-tag">
                    <div class="cc-section-tag-icon cc-bg-primary"></div>
                    <div class="cc-section-tag-text cc-caption">Pricing</div>
                </div>
                <h2 class="features_main-heading cc-heading-h4">Choose the right plan for your business</h2>
                <div class="pricing_tabs-wrapper">
                    <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="pricing_tabs w-tabs">
                        <div data-w-id="47d33f99-80f0-0876-b010-3507622384a8" style="" class="pricing_tabs-menu w-tab-menu">
                            <a data-w-tab="Tab 1" class="pricing_tab-link w-inline-block w-tab-link w--current">
                                <div class="pricing_tab-link-text">Monthly</div>
                            </a>
                            <a data-w-tab="Tab 2" class="pricing_tab-link w-inline-block w-tab-link">
                                <div class="pricing_tab-link-text">Yearly</div>
                            </a>
                        </div>
                        <div class="pricing_tabs-content w-tab-content">
                            <div data-w-tab="Tab 1" class="pricing_tab-panel w-tab-pane w--tab-active">
                                <div class="pricing_grid">
                                    <div class="pricing_grid-col">
                                        <div class="pricing_grid-top-container">
                                            <h3 class="pricing_grid-col-name cc-subtitle">Basic</h3>
                                            <p class="pricing_grid-col-tag">Start small</p>
                                            <p class="pricing_grid-col-price cc-heading-h5">$15 <span class="pricing_price-tag">/ Monthly</span></p>
                                        </div>
                                        <a data-w-id="0cef9268-cffc-25e4-bf5b-2dc095a45e86" href="/#projects" class="cc-cta-link is-neutral is-white-bg w-inline-block">
                                            <div class="cc-cta-text is-neutral">Start free trial</div>
                                            <div class="cta-button-wrap">
                                                <div class="cta-button-wrap-icon invert w-embed"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760526c75d7a177d4a94b80_Vector%20(1).svg" /></div>
                                                <div class="cta-button-wrap-icon is-absolute invert w-embed"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760526c75d7a177d4a94b80_Vector%20(1).svg" /></div>
                                            </div>
                                        </a>
                                        <link rel="prefetch" href="/#projects" />
                                        <ul role="list" class="pricing_list">
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Essential chatbot capabilities to get you started</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Communicate in 10+ languages</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Seamless connection with platforms like WordPress and Shopify</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Up to 1,000 monthly conversations</div>
                                            </li>
                                        </ul>
                                        <div class="pricing_grid-col-bg"></div>
                                    </div>
                                    <div class="pricing_grid-col">
                                        <div class="pricing_grid-top-container is-background-ellipse">
                                            <h3 class="pricing_grid-col-name cc-subtitle">Pro</h3>
                                            <p class="pricing_grid-col-tag">Scale your capabilities</p>
                                            <p class="pricing_grid-col-price cc-heading-h5">$85 <span class="pricing_price-tag">/ Monthly</span></p>
                                            <p class="pricing_top-container-text">most popular</p>
                                        </div>
                                        <a data-w-id="3b2972ab-9297-2afb-bb86-72850eaa4ba5" href="/#projects" class="cc-cta-link is-full-width is-pricing-cta w-inline-block">
                                            <div class="cc-cta-text">Explore Live Demo</div>
                                            <div class="cta-button-wrap">
                                                <div style="-webkit-transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="cta-button-wrap-icon w-embed"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760526c75d7a177d4a94b80_Vector%20(1).svg" /></div>
                                                <div style="-webkit-transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="cta-button-wrap-icon is-absolute w-embed"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760526c75d7a177d4a94b80_Vector%20(1).svg" /></div>
                                            </div>
                                        </a>
                                        <link rel="prefetch" href="/#projects" />
                                        <ul role="list" class="pricing_list">
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Advanced automation and customization tools</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Communicate in 50+ languages</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Compatible with all major platforms and CRMs</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Up to 10,000 monthly conversations</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">In-depth insights with exportable reports</div>
                                            </li>
                                        </ul>
                                        <div class="pricing_grid-col-bg"></div>
                                    </div>
                                    <div id="w-node-_3fb0859b-42b4-7189-4c06-42c9d8618831-322444d7" class="pricing_grid-col is-col-three">
                                        <div class="pricing_grid-top-container">
                                            <h3 class="pricing_grid-col-name cc-subtitle">Enterprise</h3>
                                            <p class="pricing_grid-col-tag">Do more with enterprise</p>
                                            <p class="pricing_grid-col-price cc-heading-h5">$125 <span class="pricing_price-tag">/ Monthly</span></p>
                                        </div>
                                        <a data-w-id="3fb0859b-42b4-7189-4c06-42c9d861883b" href="/#projects" class="cc-cta-link is-neutral is-white-bg w-inline-block">
                                            <div class="cc-cta-text is-neutral">Start free trial</div>
                                            <div class="cta-button-wrap">
                                                <div class="cta-button-wrap-icon invert w-embed"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760526c75d7a177d4a94b80_Vector%20(1).svg" /></div>
                                                <div class="cta-button-wrap-icon is-absolute invert w-embed"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760526c75d7a177d4a94b80_Vector%20(1).svg" /></div>
                                            </div>
                                        </a>
                                        <link rel="prefetch" href="/#projects" />
                                        <ul role="list" class="pricing_list">
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Full access to all functionalities</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Communicate in 100+ languages</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Tailored solutions for unique business needs</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">No chat limits—scale as needed</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Priority assistance and personalized onboarding</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Deep learning-powered analytics for actionable business strategies</div>
                                            </li>
                                        </ul>
                                        <div class="pricing_grid-col-bg"></div>
                                    </div>
                                </div>
                            </div>
                            <div data-w-tab="Tab 2" class="pricing_tab-panel w-tab-pane">
                                <div class="pricing_grid">
                                    <div data-w-id="826fcf7e-8229-b8cf-91c2-b1d7e30fb5e8" style="" class="pricing_grid-col">
                                        <div class="pricing_grid-top-container">
                                            <h3 class="pricing_grid-col-name cc-subtitle">Basic</h3>
                                            <p class="pricing_grid-col-tag">Start small</p>
                                            <p class="pricing_grid-col-price cc-heading-h5">$10 <span class="pricing_price-tag">/ Yearly</span></p>
                                        </div>
                                        <a data-w-id="826fcf7e-8229-b8cf-91c2-b1d7e30fb5f2" href="/" aria-current="page" class="cc-cta-link is-neutral is-white-bg w-inline-block w--current">
                                            <div class="cc-cta-text is-neutral">Start free trial</div>
                                            <div class="cta-button-wrap">
                                                <div style="-webkit-transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="cta-button-wrap-icon w-embed"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/676186412217ad50dac6f2c5_Vector%20(2).svg" /></div>
                                                <div style="-webkit-transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="cta-button-wrap-icon is-absolute w-embed"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/676186412217ad50dac6f2c5_Vector%20(2).svg" /></div>
                                            </div>
                                        </a>
                                        <ul role="list" class="pricing_list">
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Essential chatbot capabilities to get you started</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Communicate in 10+ languages</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Seamless connection with platforms like WordPress and Shopify</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Up to 1,000 monthly conversations</div>
                                            </li>
                                        </ul>
                                        <div class="pricing_grid-col-bg"></div>
                                    </div>
                                    <div data-w-id="826fcf7e-8229-b8cf-91c2-b1d7e30fb60a" style="" class="pricing_grid-col">
                                        <div class="pricing_grid-top-container is-background-ellipse">
                                            <h3 class="pricing_grid-col-name cc-subtitle">Pro</h3>
                                            <p class="pricing_grid-col-tag">Scale your capabilities</p>
                                            <p class="pricing_grid-col-price cc-heading-h5">$65 <span class="pricing_price-tag">/ Yearly</span></p>
                                            <p class="pricing_top-container-text">most popular</p>
                                        </div>
                                        <a data-w-id="826fcf7e-8229-b8cf-91c2-b1d7e30fb616" href="/" aria-current="page" class="cc-cta-link is-full-width is-pricing-cta w-inline-block w--current">
                                            <div class="cc-cta-text">Explore Live Demo</div>
                                            <div class="cta-button-wrap">
                                                <div style="-webkit-transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="cta-button-wrap-icon w-embed"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760526c75d7a177d4a94b80_Vector%20(1).svg" /></div>
                                                <div style="-webkit-transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="cta-button-wrap-icon is-absolute w-embed"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6760526c75d7a177d4a94b80_Vector%20(1).svg" /></div>
                                            </div>
                                        </a>
                                        <ul role="list" class="pricing_list">
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Advanced automation and customization tools</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Communicate in 50+ languages</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Compatible with all major platforms and CRMs</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Up to 10,000 monthly conversations</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">In-depth insights with exportable reports</div>
                                            </li>
                                        </ul>
                                        <div class="pricing_grid-col-bg"></div>
                                    </div>
                                    <div id="w-node-_826fcf7e-8229-b8cf-91c2-b1d7e30fb632-322444d7" data-w-id="826fcf7e-8229-b8cf-91c2-b1d7e30fb632" style="" class="pricing_grid-col is-col-three">
                                        <div class="pricing_grid-top-container">
                                            <h3 class="pricing_grid-col-name cc-subtitle">Enterprise</h3>
                                            <p class="pricing_grid-col-tag">Do more with enterprise</p>
                                            <p class="pricing_grid-col-price cc-heading-h5">$100 <span class="pricing_price-tag">/ Yearly</span></p>
                                        </div>
                                        <a data-w-id="826fcf7e-8229-b8cf-91c2-b1d7e30fb63c" href="/" aria-current="page" class="cc-cta-link is-neutral is-white-bg w-inline-block w--current">
                                            <div class="cc-cta-text is-neutral">Start free trial</div>
                                            <div class="cta-button-wrap">
                                                <div style="-webkit-transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="cta-button-wrap-icon w-embed"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/676186412217ad50dac6f2c5_Vector%20(2).svg" /></div>
                                                <div style="-webkit-transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-30px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="cta-button-wrap-icon is-absolute w-embed"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/676186412217ad50dac6f2c5_Vector%20(2).svg" /></div>
                                            </div>
                                        </a>
                                        <ul role="list" class="pricing_list">
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Full access to all functionalities</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Communicate in 100+ languages</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Tailored solutions for unique business needs</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">No chat limits—scale as needed</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Priority assistance and personalized onboarding</div>
                                            </li>
                                            <li class="pricing_list-item">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6761fab9620bdfff496f71d7_Frame%2075.svg" alt="" class="pricing_list-item-icon" />
                                                <div class="pricing_list-item-text">Deep learning-powered analytics for actionable business strategies</div>
                                            </li>
                                        </ul>
                                        <div class="pricing_grid-col-bg"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="testimonials" class="section_testimonials">
    <div class="padding-global">
        <div class="container-large">
            <div class="testimonials_wrapper features_wrapper">
                <div class="cc-section-tag">
                    <div class="cc-section-tag-icon cc-bg-primary"></div>
                    <div class="cc-section-tag-text cc-caption">Testimonials</div>
                </div>
                <h2 class="features_main-heading cc-heading-h4">We love success stories</h2>
                <p class="features_main-paragraph cc-body-small">Discover how businesses worldwide are enhancing customer engagement, saving time, and driving growth with our intelligent chatbot solutions</p>
                <div class="testimonials_container">
                    <div data-delay="4000" data-animation="cross" class="testimonials_slider w-slider" data-autoplay="false" data-easing="ease-out-quad" style="" data-hide-arrows="false" data-disable-swipe="false" data-w-id="e546301a-8df5-bcc4-79dd-3fb40749b00c" data-autoplay-limit="0" data-nav-spacing="3" data-duration="1200" data-infinite="false">
                        <div class="testimonials_slider-mask w-slider-mask">
                            <div class="testimonials_slide w-slide">
                                <div class="testimonials_slide-wrapper">
                                    <div class="testimonials_slide-left-container">
                                        <div class="testimonials_slide-main-details">
                                            <div class="testimonials_ratings-wrapper"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c44437056e150ab46_Vector%20(8).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c44437056e150ab46_Vector%20(8).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c44437056e150ab46_Vector%20(8).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023ce03cd6b74b3cdbd6_Vector%20(9).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023e3f360b8691c0119a_Vector%20(10).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /></div>
                                            <h3 class="testimonials_slide-heading">Eazy Integration</h3>
                                            <p class="testimonials_slide-paragraph">&quot;Integrating Voxia into our CRM and website was a breeze. It works flawlessly and has freed up our team for high-priority tasks.&quot;</p>
                                        </div>
                                        <div class="testimonials_slide-attribute">
                                            <h4 class="testimonials_slide-attribute-name cc-subtitle">Will Smith</h4>
                                            <p class="testimonials_slide-attribute-title">willsmith01</p>
                                        </div>
                                    </div>
                                    <div class="testimonials_slide-right-container"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c13beb015adb715e6_d3v4Y7WPee2gtZ0xyY33RNLbsc%201.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c13beb015adb715e6_d3v4Y7WPee2gtZ0xyY33RNLbsc%201-p-500.webp 500w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c13beb015adb715e6_d3v4Y7WPee2gtZ0xyY33RNLbsc%201.webp 546w" alt="" class="testimonials_slide-container-image" /></div>
                                </div>
                            </div>
                            <div class="testimonials_slide w-slide">
                                <div class="testimonials_slide-wrapper">
                                    <div class="testimonials_slide-left-container">
                                        <div class="testimonials_slide-main-details">
                                            <div class="testimonials_ratings-wrapper"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c44437056e150ab46_Vector%20(8).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c44437056e150ab46_Vector%20(8).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c44437056e150ab46_Vector%20(8).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023ce03cd6b74b3cdbd6_Vector%20(9).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023e3f360b8691c0119a_Vector%20(10).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /></div>
                                            <h3 class="testimonials_slide-heading">Seamless Setup</h3>
                                            <p class="testimonials_slide-paragraph">&quot;Getting Voxia up and running was incredibly simple. It required minimal effort, and we saw immediate results with improved customer interactions.&quot;</p>
                                        </div>
                                        <div class="testimonials_slide-attribute">
                                            <h4 class="testimonials_slide-attribute-name cc-subtitle">Samantha Green</h4>
                                            <p class="testimonials_slide-attribute-title">sgreen_co</p>
                                        </div>
                                    </div>
                                    <div class="testimonials_slide-right-container"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/676210ed922d386738900b7a_slider-image-1.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/6760415a4c2b104632244403/676210ed922d386738900b7a_slider-image-1-p-500.webp 500w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/676210ed922d386738900b7a_slider-image-1-p-800.webp 800w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/676210ed922d386738900b7a_slider-image-1.webp 1024w" alt="" class="testimonials_slide-container-image" /></div>
                                </div>
                            </div>
                            <div class="testimonials_slide w-slide">
                                <div class="testimonials_slide-wrapper">
                                    <div class="testimonials_slide-left-container">
                                        <div class="testimonials_slide-main-details">
                                            <div class="testimonials_ratings-wrapper"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c44437056e150ab46_Vector%20(8).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c44437056e150ab46_Vector%20(8).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c44437056e150ab46_Vector%20(8).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023e3f360b8691c0119a_Vector%20(10).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023e3f360b8691c0119a_Vector%20(10).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /></div>
                                            <h3 class="testimonials_slide-heading">Time Saver</h3>
                                            <p class="testimonials_slide-paragraph">&quot;Voxia has streamlined our workflow by automating repetitive queries. Our clients get answers faster, and our team focuses on meaningful work.&quot;</p>
                                        </div>
                                        <div class="testimonials_slide-attribute">
                                            <h4 class="testimonials_slide-attribute-name cc-subtitle">Jason Cole</h4>
                                            <p class="testimonials_slide-attribute-title">jasonc_tech</p>
                                        </div>
                                    </div>
                                    <div class="testimonials_slide-right-container"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/676210ed5c872273eb1a3200_slider-image-4.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/6760415a4c2b104632244403/676210ed5c872273eb1a3200_slider-image-4-p-500.webp 500w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/676210ed5c872273eb1a3200_slider-image-4-p-800.webp 800w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/676210ed5c872273eb1a3200_slider-image-4.webp 1024w" alt="" class="testimonials_slide-container-image" /></div>
                                </div>
                            </div>
                            <div class="testimonials_slide w-slide">
                                <div class="testimonials_slide-wrapper">
                                    <div class="testimonials_slide-left-container">
                                        <div class="testimonials_slide-main-details">
                                            <div class="testimonials_ratings-wrapper"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c44437056e150ab46_Vector%20(8).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c44437056e150ab46_Vector%20(8).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c44437056e150ab46_Vector%20(8).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c44437056e150ab46_Vector%20(8).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023e3f360b8691c0119a_Vector%20(10).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /></div>
                                            <h3 class="testimonials_slide-heading">Increased Efficiency</h3>
                                            <p class="testimonials_slide-paragraph">&quot;Since implementing Voxia, our response times have decreased dramatically, leading to happier customers and a more productive support team.&quot;</p>
                                        </div>
                                        <div class="testimonials_slide-attribute">
                                            <h4 class="testimonials_slide-attribute-name cc-subtitle">Priya Sharma</h4>
                                            <p class="testimonials_slide-attribute-title">priyasharma88</p>
                                        </div>
                                    </div>
                                    <div class="testimonials_slide-right-container"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/676210eea05f2d77f5bbfe3b_slider-image-2.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/6760415a4c2b104632244403/676210eea05f2d77f5bbfe3b_slider-image-2-p-500.webp 500w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/676210eea05f2d77f5bbfe3b_slider-image-2-p-800.webp 800w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/676210eea05f2d77f5bbfe3b_slider-image-2.webp 1024w" alt="" class="testimonials_slide-container-image" /></div>
                                </div>
                            </div>
                            <div class="testimonials_slide w-slide">
                                <div class="testimonials_slide-wrapper">
                                    <div class="testimonials_slide-left-container">
                                        <div class="testimonials_slide-main-details">
                                            <div class="testimonials_ratings-wrapper"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c44437056e150ab46_Vector%20(8).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c44437056e150ab46_Vector%20(8).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023c44437056e150ab46_Vector%20(8).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023ce03cd6b74b3cdbd6_Vector%20(9).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762023e3f360b8691c0119a_Vector%20(10).svg" loading="lazy" alt="" class="testimonials_ratings-icon" /></div>
                                            <h3 class="testimonials_slide-heading">Enhanced Customer Support</h3>
                                            <p class="testimonials_slide-paragraph">&quot;We&#x27;ve been able to provide 24/7 assistance thanks to Voxia. Our customers love the quick responses, and our team feels less overwhelmed.&quot;</p>
                                        </div>
                                        <div class="testimonials_slide-attribute">
                                            <h4 class="testimonials_slide-attribute-name cc-subtitle">Alex Martinez</h4>
                                            <p class="testimonials_slide-attribute-title">alexm_support</p>
                                        </div>
                                    </div>
                                    <div class="testimonials_slide-right-container"><img src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/676210eee36c474ac731806f_slider-image-3.webp" loading="lazy" sizes="100vw" srcset="https://cdn.prod.website-files.com/6760415a4c2b104632244403/676210eee36c474ac731806f_slider-image-3-p-500.webp 500w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/676210eee36c474ac731806f_slider-image-3-p-800.webp 800w, https://cdn.prod.website-files.com/6760415a4c2b104632244403/676210eee36c474ac731806f_slider-image-3.webp 1024w" alt="" class="testimonials_slide-container-image" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonials_arrow hide-tablet w-slider-arrow-left">
                            <div class="testimonials_arrow-icon w-icon-slider-left"></div>
                        </div>
                        <div class="testimonials_arrow hide-tablet w-slider-arrow-right">
                            <div class="testimonials_arrow-icon w-icon-slider-right"></div>
                        </div>
                        <div class="testimonials_slide-nav w-slider-nav w-round"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="faqs" class="section_faqs">
    <div class="padding-global">
        <div class="container-large">
            <div class="faqs_wrapper features_wrapper">
                <div class="cc-section-tag">
                    <div class="cc-section-tag-icon cc-bg-primary"></div>
                    <div class="cc-section-tag-text cc-caption">FAQ</div>
                </div>
                <h2 class="features_main-heading cc-heading-h4">Frequently asked questions</h2>
                <p class="features_main-paragraph cc-body-small">Find quick and clear answers to the most common questions about our AI chatbot.</p>
                <div class="faqs_container">
                    <div data-delay="0" data-hover="false" data-w-id="8ece5340-7124-a141-e5fb-0924479e0286" style="height:56px" class="faq_item w-dropdown">
                        <div class="faq_header w-dropdown-toggle">
                            <div class="faq_text cc-subtitle">How long does it take to set up the chatbot?</div>
                            <img style="-webkit-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" loading="lazy" alt="" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762165b672c91fd7291998e_Vector%20(11).svg" class="faq_icon" />
                        </div>
                        <nav class="faq_body w-dropdown-list">
                            <div class="faq_body-wrap">
                                <p class="faq_answer">Setting up the chatbot is quick and easy. Most users can integrate and customize it within 15-30 minutes, no coding required.</p>
                            </div>
                        </nav>
                    </div>
                    <div data-delay="0" data-hover="false" data-w-id="a929bb12-9412-596b-2e9d-4261d007c1e1" style="height:56px" class="faq_item w-dropdown">
                        <div class="faq_header w-dropdown-toggle">
                            <div class="faq_text cc-subtitle">What happens if the chatbot can’t answer a question?</div>
                            <img style="-webkit-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" loading="lazy" alt="" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762165b672c91fd7291998e_Vector%20(11).svg" class="faq_icon" />
                        </div>
                        <nav class="faq_body w-dropdown-list">
                            <div class="faq_body-wrap">
                                <p class="faq_answer">Setting up the chatbot is quick and easy. Most users can integrate and customize it within 15-30 minutes, no coding required.</p>
                            </div>
                        </nav>
                    </div>
                    <div data-delay="0" data-hover="false" data-w-id="87566142-43ed-6217-afbb-88c08be03127" style="height:56px" class="faq_item w-dropdown">
                        <div class="faq_header w-dropdown-toggle">
                            <div class="faq_text cc-subtitle">Can the chatbot integrate with my existing tools?</div>
                            <img style="-webkit-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" loading="lazy" alt="" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762165b672c91fd7291998e_Vector%20(11).svg" class="faq_icon" />
                        </div>
                        <nav class="faq_body w-dropdown-list">
                            <div class="faq_body-wrap">
                                <p class="faq_answer">Setting up the chatbot is quick and easy. Most users can integrate and customize it within 15-30 minutes, no coding required.</p>
                            </div>
                        </nav>
                    </div>
                    <div data-delay="0" data-hover="false" data-w-id="61e8d762-02f7-b93c-cda9-14b51f20c285" style="height:56px" class="faq_item w-dropdown">
                        <div class="faq_header w-dropdown-toggle">
                            <div class="faq_text cc-subtitle">Is there a limit to how many chats the chatbot can handle?</div>
                            <img style="-webkit-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" loading="lazy" alt="" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762165b672c91fd7291998e_Vector%20(11).svg" class="faq_icon" />
                        </div>
                        <nav class="faq_body w-dropdown-list">
                            <div class="faq_body-wrap">
                                <p class="faq_answer">Setting up the chatbot is quick and easy. Most users can integrate and customize it within 15-30 minutes, no coding required.</p>
                            </div>
                        </nav>
                    </div>
                    <div data-delay="0" data-hover="false" data-w-id="6dada855-e021-5b23-8e17-64773aec2fe8" style="height:56px" class="faq_item w-dropdown">
                        <div class="faq_header w-dropdown-toggle">
                            <div class="faq_text cc-subtitle">Is the chatbot customizable for my brand?</div>
                            <img style="-webkit-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" loading="lazy" alt="" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762165b672c91fd7291998e_Vector%20(11).svg" class="faq_icon" />
                        </div>
                        <nav class="faq_body w-dropdown-list">
                            <div class="faq_body-wrap">
                                <p class="faq_answer">Setting up the chatbot is quick and easy. Most users can integrate and customize it within 15-30 minutes, no coding required.</p>
                            </div>
                        </nav>
                    </div>
                    <div data-delay="0" data-hover="false" data-w-id="690fd77b-42d6-6b48-f3e2-15df48d211d3" style="height:56px" class="faq_item w-dropdown">
                        <div class="faq_header w-dropdown-toggle">
                            <div class="faq_text cc-subtitle">How secure is the chatbot?</div>
                            <img style="-webkit-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" loading="lazy" alt="" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762165b672c91fd7291998e_Vector%20(11).svg" class="faq_icon" />
                        </div>
                        <nav class="faq_body w-dropdown-list">
                            <div class="faq_body-wrap">
                                <p class="faq_answer">Setting up the chatbot is quick and easy. Most users can integrate and customize it within 15-30 minutes, no coding required.</p>
                            </div>
                        </nav>
                    </div>
                    <div data-delay="0" data-hover="false" data-w-id="a777a7d5-1635-9249-0b0e-46db375a3df3" style="height:56px" class="faq_item w-dropdown">
                        <div class="faq_header w-dropdown-toggle">
                            <div class="faq_text cc-subtitle">How does the chatbot handle multilingual support?</div>
                            <img style="-webkit-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, -50%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" loading="lazy" alt="" src="https://cdn.prod.website-files.com/6760415a4c2b104632244403/6762165b672c91fd7291998e_Vector%20(11).svg" class="faq_icon" />
                        </div>
                        <nav class="faq_body w-dropdown-list">
                            <div class="faq_body-wrap">
                                <p class="faq_answer">Setting up the chatbot is quick and easy. Most users can integrate and customize it within 15-30 minutes, no coding required.</p>
                            </div>
                        </nav>
                    </div>
                </div>
                <p data-w-id="666d8027-5e56-0e7d-561f-5c9a46c73781" style="" class="faqs_footnote cc-subtitle">Have more question? Let us know at: <a href="mailto:hello@chatbot.com?subject=Inquiry%20Form" class="faqs_footnote-link">hello@voxia.com</a></p>
            </div>
        </div>
    </div>
</section>

